body {
    background-color: #C8D6D5;
    font-family: Arial, sans-serif;
    color: #161313;
    color: white;
}
/* Todo lo relacionado con el primer cuadro de la pagina principal*/
.titulo{
    font-family: 'Courier New', sans-serif;
    width: 1265px;
    height: 200px;
    background-color: rgb(10, 61, 30);
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 20px;
    border-radius: 5px;
    
}
h1 {
    margin-bottom: 100px;}

h4 {
    margin-top: 100px; 
}
h1, h4 {
    margin: 0; /* Eliminar completamente los márgenes */
}
h2, h3{
    margin-left: -60%;
}
h3{
    max-width: 100%; /* o un valor específico en píxeles, porcentaje, etc. */
    overflow: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;
    height: 100%;
}

.box {
    flex: 1;
    padding: 30px;
    height: 300px;
    background-color: #698ca3;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 0px;

}
button{
    background-color:rgb(48, 109, 150);
    color: white;
    width: 505px;
    height: 30px;
    padding-left: 70px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: -31%;
}
#box1 {
    background-image: linear-gradient(to right, rgb(33, 114, 87), rgb(89, 228, 198));
    color: rgb(14, 12, 12);
    position: relative; /* Enable relative positioning for the container */
}

.small-rectangle {
    width: 504px;
    height: 30px;
    margin: 0px;
    text-align: center;
    line-height: 20px;
    font-size: 19px;
    position: absolute; /* Set position: absolute; */
}

.small-rectangle:nth-child(1) {
    top: 0px;
    left: 0px;
    background-color: rgb(48, 109, 150);
    position: relative;
}

.small-rectangle:nth-child(2) {
    top: 1px;
    left: 0px;
    background-color: #0a0a0a;
    position: relative;
}

.small-rectangle:hover {
    transform: scale(1.1); /* Slight highlight on hover */
}

.linkedin-link {
    color: black; /* Change this color code to the desired color for the link */
    text-decoration: none; /* Remove underlining, if you prefer */
}

.linkedin-link:hover {
    color: #e4ce0d; /* Change this color code to the desired color on hover */
}
.small-rectangle img {
    top: 0px;
    left: 40px;
    right: 0px;
    width: 5%; /* Make the image fill the width of the container */
    height: auto; /* Maintain the aspect ratio */
    max-height: 120%; /* Limit the maximum height to 100% of the container */
    display: block; /* Remove any extra spacing around the image */
    margin-bottom: 10px; /* Add some spacing between the image and text */
    margin-top: 0%;
    position: absolute;
    padding-bottom: 10px;
}

.box-1 img{
    top: 0px;
    left: 550px;
    right: 0px;
    width: 690px; /* Make the image fill the width of the container */
    height: auto; /* Maintain the aspect ratio */
    max-height: 90%; /* Limit the maximum height to 100% of the container */
    display: block; /* Remove any extra spacing around the image */
    margin-bottom: 0px; /* Add some spacing between the image and text */
    margin-top: 0%;
    position: absolute;
    padding-bottom: 10px;
    border: 10px solid rgb(10, 61, 30);
}
.parrafo{
    display: inline-block;
    border: 2px solid white; /* Añade un borde para visualizar el contenedor */
    width: 400px; /* Width of the box */
    height: 200px; /* Height of the box */
    border: 1px solid #000; /* Border around the box */
    padding: 10px; /* Padding inside the box */
    box-sizing: border-box; /* Include padding and border in the box's total width and height */
    margin-left: -60%;
}